* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    padding: 0px;
    background-color:#dbdbdb;
    font-family: 'Anek Latin', sans-serif;
}
#social {
     background-color: black;
     color:white;
     height:50px;
     width:100%;
     position: sticky;
     top:0;
     z-index: 1;
     font-size: 20px;
     text-align: center;
     padding: 15px;
}
#container{
    width: 80%;
    height:auto ;
    margin: auto;
}
#section{
    width: 100%;
    height: auto;
    background-color: white;
}
header{
    width: 100%;
    height:250px ;
}
#headerResim{
    width:100% ;
    height: 200px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
section{
    height:auto ;
    width: 100%;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius:10px ;
    overflow: auto;
}
nav{
    width: 20%;
    float: left;
    margin-top: 10px;
    height: auto;
}
nav ul{
    width: auto;
    height: 100%;
    margin: 0;
    padding: 0;
}
nav li{
    list-style-type: none;
}
nav li a{
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid #b4b4b4;
    padding-left: 20px;
    display: block;
}
nav li a:hover{
    color: white;
    background-color:#adadad ;
}